@import "bulma";

h3{
	font-family: 'Cinzel', serif;
	font-size: 25px;
    display: flex;
    justify-content: center;
}

.box{
	width: 431px;
    float: left;
    margin: 19px;
    margin-left: 72px;
}

.nav-left{
	float: left;
    margin-left: 22px;
}

.input {
    width: 500px;
}

select{
    width: 500px; 
}