

<div class="category-container">
	<div class="subscribe-container">
		<button ng-click="category.getSubscriber()" id="subscribe-button" class="button is-success buttonTop">SUBSCRIBE</button>
	</div>
	<div class="channel-content-container">
		<div class="channelContent" ng-repeat="channel in category.channels">
			<div class="box channels" id="channel-box1">
				<h3> {{ channel.title }} </h3>
				<div class="img-plus-rating">
					<a href="#/channels/{{ channel.id }}"><img ng-src="{{channel.snippet.thumbnails.high.url}}"></a>
					<div class="rating">
						<i title="upVotes" ng-click="category.rateChannel(channel.id,1)" class="fa fa-thumbs-up fa-2x"></i>
						<span>Rate: {{ channel.score }}</span>
						<i title="downVotes" ng-click="category.rateChannel(channel.id,-1)" class="fa fa-thumbs-down fa-2x"></i>
		            </div>
	            </div>

				<div class="desc">
					<span class="writeup">{{channel.snippet.description}}</span>
				</div>
		  	</div>
		</div> 
	</div>
</div>