<div class="boxed">
	<div class="box">
		<ul class="vlog">
			<li>
				<a href="#/category/:id">
					<h3>Vlog</h3>
				</a>	
			</li>
		</ul>
	</div>
	<div class="box">
		<ul class="beauty">
			<li>
				<a href="#/category/:id">
					<h3>Beauty</h3>
				</a>	
			</li>
		</ul>
	</div>
	<div class="box">
		<ul class="diy">
			<li>
				<a href="#/category/:id">
					<h3>DIY's</h3>
				</a>	
			</li>
		</ul>
	</div>
	<div class="box">
		<ul class="product">
			<li>
				<a href="#/category/:id">
					<h3>Product Review's</h3>
				</a>	
			</li>
		</ul>
	</div>
	<div class="box">
		<ul class="educate">
			<li>
				<a href="#/category/:id">
					<h3>Educational Vidz</h3>
				</a>	
			</li>
		</ul>
	</div>
	<div class="box">
		<ul class="games">
			<li>
				<a href="#/category/:id">
					<h3>Video Gamers</h3>
				</a>	
			</li>
		</ul>
	</div>
	<div class="box">
		<ul class="comedy">
			<li>
				<a href="#/category/:id">
					<h3>Comedy/Skit Vidz</h3>
				</a>	
			</li>
		</ul>
	</div>
	<div class="box">
		<ul class="tech">
			<li>
				<a href="#/category/:id">
					<h3>Technology</h3>
				</a>	
			</li>
		</ul>
	</div>
	<div class="box">
		<ul class="music">
			<li>
				<a href="#/category/:id">
					<h3>Music Entertainment</h3>
				</a>	
			</li>
		</ul>
	</div>
	<div class="box">
		<ul class="cartoon">
			<li>
				<a href="#/category/:id">
					<h3>Animations</h3>
				</a>	
			</li>
		</ul>
	</div>
	<div class="box">
		<ul class="news">
			<li>
				<a href="#/category/:id">
					<h3>News Broadcast</h3>
				</a>	
			</li>
		</ul>
	</div>
	<div class="box">
		<ul class="animals">
			<li>
				<a href="#/category/:id">
					<h3>Pets & Animals</h3>
				</a>	
			</li>
		</ul>
	</div>
</div>