<div class="wrapper" ng-click="layout.clickMe()">
  <nav>
    <div class="nav-center">
      <a href="#/"><img src="./images/PinPoint.png"></a>
    </div>
    <div class="navBar">
      <a class="nav-left" href="#/home">Home</a>
      <a class="nav-left" href="#/about">About</a>
      <a class="nav-left" href="#/profile">Profile</a>
      <a class="nav-right" href="#/register"
         ng-show="!layout.loggedIn">Sign Up</a>
      <a class="nav-right" href="#/login"
         ng-show="!layout.loggedIn">Login</a>
      <a class="nav-right" href="#/"
         ng-show="layout.loggedIn"
         ng-click="layout.logout()">Logout</a>
    </div>
  </nav>

  <div class="main-content" ui-view>
  </div>
</div>