<h3 class="title">New Category</h3>

<form name="Category-form" ng-submit="profile.createCategory(cat)">
  <p class="control">
    <input name="categories" type="text" placeholder="New Category"
           ng-model="cat.title" required />
  </p>

  <button>Submit</button>

</form>

<form name="channelForm" ng-submit="profile.addChannel(channel)">
  <p class="control">
  	<select name="options" type="select" placeholder="Choose Category"  
  		   ng-model="channel.category_id" required> 
  		   <option value="{{ category.id }}" ng-repeat="category in profile.categories">{{ category.title }}</option>
  	</select>	   
  </p>

  <p class="control">
  	<input type="text" ng-model="channel.title" placeholder="Channel Title" required />
    <input name="channel" type="text" placeholder="YouTube Channel URL"
           ng-model="channel.google_id" required />

    <input name="linkto-Channel" type="url" ng-model="channel.url" placeholder="YouTube User Url" required />       
  </p>

  <button>Add Channel</button>
</form>